{% extends 'spine_core/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fa fa-times"></i>
            Incorrect username or password.
        </div>
       {% endif %}
        <div class="well">
            <div class="lead">Please sign in:</div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <formset>
                <div class="form-group">{{ form.username }}</div>
                <div class="form-group">{{ form.password }}</div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">Continue</button>
                </div>
                </formset>
            </form>
            <div><a href="{% url 'password_reset' %}">Forgot your password?</a></div>
        </div>
    </div>
</div>

{% endblock %}