.list-group-item-header, thead {
    background-color: #ddd;
    font-weight: bold;
}

tbody th {
    background-color: #f6f6f6;
    font-weight: normal;
}

.muted {
    opacity: 0.5;
}

.depend-arrow {
    font-size: 64px;
    color: #666;
}

.navbar-toggle {
    padding: 5px 10px;
    margin-top: 9px;
}

.form-group:last-child {
    margin-bottom: 0;
}