{% extends 'spine_core/base.html' %}

{% block header %}
Asset <small>{{ asset }}</small>
{% endblock %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ asset.name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ asset.type }}</td>
        </tr>
    </tbody>
</table>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Files
        <span class="badge">{{ asset.files.all.count }}</span>
    </div>
    {% for file in asset.files.all %}
    <a class="list-group-item" href="{% url 'spine_core:file' file.id %}">{{ file }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Tasks
        <span class="badge">{{ asset.task_set.all.count }}</span>
    </div>
    {% for task in asset.task_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:task' task.id %}">{{ task }}</a>
    {% endfor %}
</div>

{% endblock %}