{% extends 'spine_core/base.html' %}

{% block title %}
    {{ block.super }} |
    {% block header %}Depend{% endblock %} |
    {% block subheader %}{{ depend }}{% endblock %}
{% endblock %}

{% block content %}

<h3>Master File</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>File</th>
            <td><a href="{% url 'spine_core:file' depend.master_file.id %}">{{ depend.master_file }}</a></td>
        </tr>
        <tr>
            <th>Version</th>
            <td>
                {% if depend.master_file.repo.type == 'NONE' %}
                <span class="label label-default">Not Versioned</span>
                {% else %}
                {{ depend.master_version }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>{{ depend.master_modified }}</td>
        </tr>
    </tbody>
</table>

<div class="depend-arrow">
    <i class="fa fa-arrow-circle-down"></i>
</div>

<h3>Depends On</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>File</th>
            <td><a href="{% url 'spine_core:file' depend.depend_file.id %}">{{ depend.depend_file }}</a></td>
        </tr>
        <tr>
            <th>Version</th>
            <td>
                {% if depend.depend_file.repo.type == 'NONE' %}
                <span class="label label-default">Not Versioned</span>
                {% else %}
                {{ depend.depend_version }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>{{ depend.depend_modified }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}