{% extends 'spine_core/base.html' %}

{% block title %}{{ file }}{% endblock %}

{% block header %}{{ file }}{% endblock %}

{% block content %}

<table class="table table-striped table-bordered">
    <thead>
        <tr><th>Attribute</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Path</td><td>{{ file.path }}</td></tr>
        <tr><td>Repo</td><td>{{ file.repo }}</td></tr>
        <tr><td>Last Version</td><td>{{ file.last_version }}</td></tr>
        <tr><td>Last Edited</td><td>{{ file.last_edited }}</td></tr>
    </tbody>
</table>

{% endblock %}