{% extends 'spine_core/base.html' %}

{% block title %}
    {{ block.super }} | 
    {% block header %}File{% endblock %} |
    {% block subheader %}{{ file }}{% endblock %}
{% endblock %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Path</th>
            <td>
                {% if file.online %}
                <span class="label label-success">Online</span>
                {% else %}
                <span class="label label-danger">Offline</span>
                {% endif %}
                {{ file.path }}
            </td>
        </tr>
        <tr>
            <th>File Type</th>
            <td>{{ file.type }}</td>
        </tr>
        <tr>
            <th>MIME Type</th>
            <td>{{ file.mime }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ file.get_pretty_size }}</td>
        </tr>
        <tr>
            <th>MD5</th>
            <td>{{ file.hash }}</td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>{{ file.modified }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>
                {% if file.repo.type == 'NONE' %}
                <span class="label label-default">Not Versioned</span>
                {% else %}
                {{ file.version }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Repo</th>
            <td><a href="{% url 'spine_core:repo' file.repo.id %}">{{ file.repo }}</a></td>
        </tr>
    </tbody>
</table>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depends On
        <span class="badge">{{ file.master_set.all|length }}</span>
    </div>
    {% for depend in file.master_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depended On
        <span class="badge">{{ file.depend_set.all|length }}</span>
    </div>
    {% for depend in file.depend_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        In Assets
        <span class="badge">{{ file.asset_set.all|length }}</span>
    </div>
    {% for asset in file.asset_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:asset' asset.id %}">{{ asset }}</a>
    {% endfor %}
</div>

{% endblock %}