{% extends 'spine_core/base.html' %}

{% block title %}{{ block.super }} | {% block header %}File{% endblock %} | {% block subheader %}{{ file }}{% endblock %}{% endblock %}

{% block content %}

<table class="table table-hover table-bordered">
    <thead>
        <tr><th>Attribute</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Path</td><td>{{ file.path }}</td></tr>
        <tr><td>Type</td><td>{{ file.get_file_type_display }} ({{ file.file_type }})</td></tr>
        <tr><td>Repo</td><td><a href="{% url 'spine_core:repo' file.repo.id %}">{{ file.repo }}</a></td></tr>
        <tr><td>Last Version</td><td>{{ file.last_version }}</td></tr>
        <tr><td>Last Edited</td><td>{{ file.last_edited }}</td></tr>
    </tbody>
</table>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depends On
        <span class="badge">{{ file.master_set.all|length }}</span>
    </div>
    {% for depend in file.master_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depended On
        <span class="badge">{{ file.depend_set.all|length }}</span>
    </div>
    {% for depend in file.depend_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

{% endblock %}