{% extends 'spine_core/base.html' %}

{% block title %}
    {{ block.super }} |
    {% block subheader %}Index{% endblock %}
{% endblock %}

{% block content %}

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Repos
        <span class="badge">{{ repo_list|length }}</span>
    </div>
    {% for repo in repo_list %}
    <a class="list-group-item" href="{% url 'spine_core:repo' repo.id %}">{{ repo }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Files
        <span class="badge">{{ file_list|length }}</span>
    </div>
    {% for file in file_list %}
    <a class="list-group-item" href="{% url 'spine_core:file' file.id %}">{{ file }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depends
        <span class="badge">{{ depend_list|length }}</span>
    </div>
    {% for depend in depend_list %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

{% endblock %}