{% extends 'spine_core/base.html' %}

{% block title %}
    {{ block.super }} |
    {% block subheader %}Index{% endblock %}
{% endblock %}

{% block content %}

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Projects
        <span class="badge">{{ projects|length }}</span>
    </div>
    {% for project in projects %}
    <a class="list-group-item" href="{% url 'spine_core:project' project.id %}">{{ project }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Repos
        <span class="badge">{{ repos|length }}</span>
    </div>
    {% for repo in repos %}
    <a class="list-group-item" href="{% url 'spine_core:repo' repo.id %}">{{ repo }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Files
        <span class="badge">{{ files|length }}</span>
    </div>
    {% for file in files %}
    <a class="list-group-item" href="{% url 'spine_core:file' file.id %}">{{ file }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Depends
        <span class="badge">{{ depends|length }}</span>
    </div>
    {% for depend in depends %}
    <a class="list-group-item" href="{% url 'spine_core:depend' depend.id %}">{{ depend }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Assets
        <span class="badge">{{ assets|length }}</span>
    </div>
    {% for asset in assets %}
    <a class="list-group-item" href="{% url 'spine_core:asset' asset.id %}">{{ asset }}</a>
    {% endfor %}
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Tasks
        <span class="badge">{{ tasks|length }}</span>
    </div>
    {% for task in tasks %}
    <a class="list-group-item" href="{% url 'spine_core:task' task.id %}">{{ task }}</a>
    {% endfor %}
</div>

{% endblock %}