{% extends 'spine_core/base.html' %}

{% block title %}{{ repo }}{% endblock %}

{% block header %}{{ repo }}{% endblock %}

{% block content %}

<table class="table table-striped table-bordered">
    <thead>
        <tr><th>Attribute</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Root Path</td><td>{{ repo.root_path }}</td></tr>
        <tr><td>Type</td><td>{{ repo.get_repo_type_display }}</td></tr>
        <tr><td>URL</td><td>{{ repo.url }}</td></tr>
    </tbody>
</table>

{% endblock %}