{% extends 'spine_core/base.html' %}

{% block title %}
    {{ block.super }} |
    {% block header %}Repo{% endblock %} |
    {% block subheader %}{{ repo }}{% endblock %}
{% endblock %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr><th>Attribute</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><th>ID</th><td>{{ repo.id }}</td></tr>
        <tr><th>Name</th><td>{{ repo.name }}</td></tr>
        <tr><th>Root Path</th><td>{{ repo.root_path }}</td></tr>
        <tr><th>Type</th><td>{{ repo.get_repo_type_display }}</td></tr>
        <tr><th>URL</th><td>{{ repo.url }}</td></tr>
    </tbody>
</table>

<div class="list-group">
    <div class="list-group-item list-group-item-header">
        Files
        <span class="badge">{{ repo.file_set.all.count }}</span>
    </div>
    {% for file in repo.file_set.all %}
    <a class="list-group-item" href="{% url 'spine_core:file' file.id %}">{{ file }}</a>
    {% endfor %}
</div>

{% endblock %}